.sidebar {
    margin: 0;
    padding: 0;
    width: 70px;
    background-color: #0d193f;
    position: fixed;
    height: 100%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    font-size: 1rem;
}
.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.sidebar .top_icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 35vh;
}
.sidebar .bottom_icons {

}


div.content {
    margin-left: 70px;
    /* padding: 1px 16px; */
    /* height: 1000px; */
}










@media screen and (max-width: 700px) {
.sidebar {
    width: 100%;
    height: auto;
    position: relative;
}
.sidebar a {float: left;}
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}